.container{
    padding:10px 20px 20px 30px;
    background-color:bisque;
}

#height,#weight{
    width:150px;
    height:25px;
    margin-top:30px;
}
button{
    margin-top:20px;
    color:bisque;
    background-color: black;
    width:150px;
    height:35px
}


#results {
  font-size: 20px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(33, 5, 5);
}